@import "includes/variables";
@import "includes/reset.scss";
@import "includes/fonts";

// general styles

a {
	text-decoration: none;
	transition: .3s;
	&:hover {
		transition: .3s;
	}
}

input,
button,
textarea {
	outline: none;
}

.clearfix {
	&::after {
		display: block;
		content: "";
		clear: both;
  	}
}

.container {
	width: 1170px;
	display: block;
	margin: auto;
	font-family: Lato;
}

// ui

h2 {
	font-size: 26px;
	color: #333;
	font-family: 'Lato-Black';
	margin-bottom: 25px;
}

h3 {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Lato-Black';
	margin-bottom: 20px;
	line-height: 1.3;
}

p {
	font-family: 'Lato-Bold';
	font-size: 13px;
	color: #333;	
	margin-bottom: 20px;
	&.simple {
		font-family: 'Lato';
	}
}

.block-header {
	background-color: #357bc1;
	font-family: 'Lato-Black';
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 19px 0;
	letter-spacing: 1px;
}

.show-more {
	display: block;
	margin: auto;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	width: 130px;
	border: 1px solid #333;
	background-color: #333;
	color: #fff;
	padding: 10px;
	border-radius: 32px;
	margin-top: 40px;
	&:hover {
		color: #333;
		background-color: #fff;
	}
}

// PAGE-PARTS

//header

header.header {
	.top-header {
		height: 84px;
		background-color: #3078c0;
		.item {
			display: inline-block;
			padding: 0;
			float: right;
			margin-top: 30px;
			padding-top: 2px;
			&:first-child {
				padding-top: 0;
			}
			&.tel {
				margin-right: 44px;
				letter-spacing: 0.4px;
				a {
					color: #fff;
					font-size: 26px;
					font-family: 'Lato-Black';
					display: block;
					&:hover {
						opacity: .9;
					}
				}
			}
			&.contacts {
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				margin-right: 48px;
				a {
					text-decoration: underline;
					color: #fff;
					display: block;
					margin-top: 3px;
					&:hover {
						text-decoration: none;
					}
				}
			}
			&.consult {
				background-color: rgba(238, 239, 239, 0.149);
  				box-shadow: 0px 4px 9px 0px rgba(31, 100, 170, 0.004), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), 0px 7px 6px -6px rgba(0,0,0,.4);
  				border-radius: 23px;
  				padding: 0;
  				margin-top: 24px;
  				transition: .3s;
  				&:hover {
  					background-color: rgba(238, 239, 239, 0.189);
  					transition: .3s;
  				}
				a {
					letter-spacing: 1px;
					text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
					color: #fff;
					font-family: 'Lato-Bold';
					font-size: 11px;
					text-transform: uppercase;
					padding: 15px 25px 13px;
  					display: block;
  					border-radius: 23px;
				}
			}
			&.login-reg {
				color: #fff;
				background-color: #649ad0;
				border-radius: 23px;
				padding: 11px 20px;
				margin-top: 24px;
    			margin-left: 44px;
				 a {
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
					color: #fff;
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
			&.social {
				padding-right: 0;
				margin-left: -4px;
				margin-top: 36px;
			}
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					display: inline-block;
					margin-left: 32px;
					a {
						color: #fff;
						font-size: 21px;
						&:hover {
							opacity: .9;
						}
					}
				}
			}
		}
	}
	.middle-header {
		background-image: url(../img/first-screen-banner.jpg); 
		height: 363px;
		text-align: right;
		background-size: cover;
   		background-position: top center;
		.logo {
			display: block;
			height: 147px;
			width: 149px;
			background-image: url(../img/logo.png); 
			top: 30px;
			position: absolute;
		}
		.title {
			font-size: 26px;
			color: #3078c0;
			font-family: 'Lato-Black';
			padding-top: 58px;
			line-height: 1.3;
			letter-spacing: 0.5px;
		}
		.sub-title {
			font-size: 14px;
			color: #333;
			font-family: 'Open Sans', sans-serif;
		    margin-top: 15px;
    		line-height: 1.4;
		}
	}
	.bottom-header {
		.mobile-button {
			margin-bottom: 30px;
			height: 10px;
			width: 35px;
			position: relative;
			float: right;
			display: block;
			margin-right: 15px;
			margin-top: 25px;
			margin-bottom: 0;
			display: none;
		    background: none;
    		border: none;
    	    position: absolute;
    		right: -5px;
    		cursor: pointer;
    		i {
				margin-right: 40px;
				position: absolute;
				right: 2px;
				top: -5px;
				font-size: 19px;
				text-transform: uppercase;
    		}
			&.active {
				span {
					background-color: transparent;
					&::after {
						transform: rotate(45deg);
						transition: .3s;
						top: 0;
					}
					&::before {
						transform: rotate(-45deg);
						transition: .3s;
						bottom: 0;
					}
				}
			}
			span {
				display: block;
				width: 100%;
				height: 2px;
				background-color: #333;
				position: relative;
				&::before {
					content: '';
					width: 100%;
					height: 2px;
					background-color: #333;
					position: relative;
					bottom: -6px;
					position: absolute;
					transition: .3s;
					left: 0;
				}
				&::after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: #333;
					position: relative;
					top: -6px;
					position: absolute;
					transition: .3s;
					left: 0;
				}
			}
		}
		background-image: linear-gradient(to top, #eff0f0, #fff); 
		nav {
			ul {
				li {
					display: inline-block;
					padding: 0 23px;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						float: right;
						padding-right: 0;
						padding: 22px 0;
						padding-left: 66px;
						border-left: 1px solid #eee;
						input[type="search"] {
							border: 1px solid #d9d9d9;
							height: 34px;
							border-radius: 23px;
							width: 300px;
							padding-left: 20px;
							padding-right: 20px;
							&::-webkit-search-cancel-button { 
								-webkit-appearance: none;
							}
						}
						input[type="submit"] {
							display: none;
						}
						label {
							display: inline-block;
							cursor: pointer;
							position: relative;
							margin-left: -33px;
							&::after {
								content: "\f002";
								color: #3078c0;
								font-family: FontAwesome; 
							}
						}
					}
					&.active {
						a {
							color: #347bc1;
						}
					}
					a {
						font-size: 12px;
						color: #333;
						font-family: 'Lato-Black';
						text-transform: uppercase;
					    padding: 31px 0px 30px;
    					display: block;
    					letter-spacing: 1.1px;
    					position: relative;
    					&:hover {
    						color: #347bc1;
    						&::after {
    							transition: .3s;
    							width: 100%;
    						}
    					}
    					&::after {
    						content: '';
    						position: absolute;
    						top: 50%;
    						transform: translateY(-50%);
    						left: 0;
    						right: 0;
    						margin: 0 auto;
    						height: 35%;
    						background-color: transparent;
    						opacity: .4;
    						width: 0;
    						transition: .3s;
    						border-top: 1px solid #347bc1;
    						border-bottom: 1px solid #347bc1;
    					}
					}
				}
			}
		}
	}
}

// content

.content {
	padding: 34px 0;
	aside {
		.aside-block {
			&:first-child {
				.block-body {
					padding: 14px 15px 30px;
				}
			}
			.block-header {
				background-color: #357bc1;
				font-family: 'Lato-Black';
				font-size: 12px;
				text-transform: uppercase;
				text-align: left;
				color: #fff;
				padding: 19px 0 18px;
			    letter-spacing: 1.1px;
    			padding-left: 16px;
			}
			.block-body {
				padding: 30px 15px;
				border: 1px solid #ebebeb;
				border-bottom: none;
				.thumb {
					height: 132px;
					width: 100%;
					background-size: cover; 
					margin-bottom: 18px;
				}
				.date {
					font-size: 12px;
					color: #9b9b9c;
					margin-bottom: 7px;
				}
				.text-preview {
					font-size: 13px;
					color: #333;
					font-family: 'Lato-Bold';
					line-height: 1.2;
				}
				.more {
				    margin-top: 18px;
				    display: block;
				    color: #357bc1;
				    font-family: 'Lato-Bold';
				    text-decoration: underline;
				    font-size: 13px;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.all {
			background-color: #333;
			font-family: 'Lato-Bold';
			font-size: 13px;
			text-align: center;
			color: #fff;
			padding: 15px 0;
			text-decoration: underline;
			display: block;
			&:hover {
				text-decoration: none;
			}
		}
		&.left {
			float: left;
			width: 230px;
		}	
		&.right {
			float: left;
			width: 230px;
			.all {
				margin-bottom: 38px;
				display: block;
			}
			.aside-block {
				.block-body {
					padding: 14px 20px 30px;
					img {
						height: 114px;
						display: block;
						margin: auto;
						margin-top: 6px;
					}
					.expert-name {
						font-size: 12px;
						font-family: 'Lato-Black';
						text-transform: uppercase;
						display: block;
						margin-top: 29px;
						margin-bottom: 10px;
						letter-spacing: 1.4px;
					}
					.text-preview {
						font-family: "Lato";
					}
					.title {
						color: #357bc1;
						font-size: 13px;
						font-family: 'Lato-Bold';
						text-decoration: underline;
						margin-bottom: 9px;
						display: block;
						line-height: 1.3;
						&:hover {
							text-decoration: none;
						}
					}
					.appoint {
						width: 124px;
						display: block;
						font-size: 11px;
						text-transform: uppercase;
						color: #fff;
						background-color: #52bd8a;
						text-align: center;
						margin: auto;
						padding: 11px 0;
						box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
						border-radius: 23px;
						margin-top: 21px;
						border: 1px solid #52bd8a;
						font-family: 'Lato-Bold';
						&:hover {
							background-color: #fff;
							color: #52bd8a;
						}
					}
				}
			}
		}
	}
	main {
		padding: 0 40px;
		float: left;
		width: calc(100% - 540px);
		&.homepage {
			.thumb-home {
				float: left;
				margin-bottom: 30px;
				margin-right: 47px;
				display: block;
				width: 252px;
			}
			.home-title {
				color: #333;
				font-size: 26px;
				font-family: 'Lato-Black';
				margin-bottom: 12px;
				line-height: 1.2;
				letter-spacing: 0.5px;
			}
			.sub-title {
				font-size: 13px;
				color: #333;
				font-family: 'Lato-Bold';
				line-height: 1.2;
				padding-bottom: 130px;
			}
			p {
				font-size: 13px;
				color: #333;
				line-height: 1.3;
				margin-bottom: 0;
				&.text-ind {
					text-indent: 36px; 
				}
			}
			.more {
				margin-top: 17px;
				display: block;
				color: #357bc1;
				font-family: 'Lato-Bold';
				text-decoration: underline;
				font-size: 13px;
				&:hover {
					text-decoration: none;
				}
			}
			.blue-title {
				color: #357bc1;
				font-size: 26px;
				font-family: 'Lato-Black';
				text-align: center;
				letter-spacing: 0.6px;
			}
			.blue-subtitle {
				font-size: 13px;
				color: #333;
				width: 393px;
				display: block;
				margin: auto;
				text-align: justify;
				margin-top: 15px;
				margin-bottom: 33px;
			}
			.detailed {
				color: #fff;
				font-size: 10px;
				text-transform: uppercase;
				text-align: center;
				background-color: #518bc8;
				padding: 13px;
				width: 110px;
				display: block;
				margin: auto;
				border-radius: 23px;
				border: 1px solid #518bc8;
				letter-spacing: 1px;
				font-family: 'Lato-Bold';
				&:hover {
					background-color: #fff;
					color: #518bc8;
				}
			}
			.complects {
				padding-top: 34px;
				margin-top: 40px;
				background-image: url(../img/complects.jpg); 
				width: 100%;
				height: 516px;
				background-size: 100%;
				background-repeat: no-repeat; 
				background-position: top center; 
			}
			.acts {
				padding-top: 21px;
				.acts-header {
					font-family: 'Lato-Black';
					font-size: 12px;
					text-transform: uppercase;
					text-align: center;
					background-color: #357bc1;
					color: #fff;
					line-height: 1.7;
					padding: 11px 0;
				}
				.acts-body {
					padding-top: 10px;
					.item {
						display: block;
						float: none;
						width: 100%;
						padding: 7px 0;
						&:nth-child(odd) {
							background-color: #fbfbfb
						}
						.line {
							padding: 0;
							margin: 0;
							li {
								display: inline-block;
								float: left;
								padding: 20px;
								font-size: 13px;
								color: #333;
								font-family: 'Lato-Bold';
								border-bottom: 1px solid #eee;
								img {

								}
								&:last-child {
									float: right;
								}
								&:first-child {
									padding: 14.5px 20px;
								}
							}
						}
					}
				}
			}
			.reg {
				padding: 0;
				margin: 0;
				margin-top: 23px;
				li {
					display: inline-block;
					span {
						display: block;
						color: #357bc1;
						font-size: 13px;
						font-family: 'Lato-Bold';
						padding-top: 13px;
					}
					a {
						display: block;
						color: #357bc1;
						font-size: 13px;
						font-family: 'Lato-Bold';
					}
					&:last-child {
						float: right;
						a {
							display: block;
							background-color: #518bc8;
							width: 196px;
							padding: 14px 0;
							color: #fff;
							text-transform: uppercase;
							font-family: 'Lato-Bold';
							letter-spacing: 1px;
							text-align: center;
							border: 1px solid #518bc8;
							border-radius: 23px;
							font-size: 10px;
							&:hover {
								background-color: #fff;
								color: #518bc8;
							}
						}
					}
				}
			}			
		}
	}
}

// footer

footer.footer {
	background-image: url(../img/footer-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 20px;
	.footer-menu {
		padding: 95px 0;
		margin: 0;
		text-align: center;
		li {
			display: inline-block;
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					padding-right: 0;
				}
			}
			a {
				font-family: 'Lato-Black';
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin: 0 25px;
				color: #fff;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					height: 1px;
					width: 0;
					background-color: rgba(255,255,255,.5);
					left: 0;
					bottom: -5px;
					transition: .3s;
				}
				&:hover {
					&::after {
						width: 100%;
						transition: .3s;
					}
				}
			}
		}
	}
}

// breadcrumbs

.breadcrumbs {
	margin-bottom: 25px;
	margin-top: -3px;
	li {
		position: relative;
		display: inline-block;
		color: #c1c2c2;
		font-family: 'Lato-Italic';
		font-size: 13px;
		&:last-child {
			&::after {
				display: none;
			}
		}
		&::after {
			content: '>';
			padding-left: 5px;
		}
		a {
			color: #c1c2c2;
			font-family: 'Lato-Italic';
			font-size: 13px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				background-color: #c1c2c2;
				height: 1px;
				transition: .3s;
			}
			&:hover {
				transition: .3s;
				&::after {
					width: 100%;
				}
			}
		}
	}
}


// PAGES

// about

.about {
	p {
		margin-bottom: 17px;
		line-height: 1.2;
	}
}


// documents

.documents {
	.show-more {
		width: 106px;
		padding: 8px;
	}
	h1 {
		font-size: 26px;
		color: #333;
		font-family: 'Lato-Black';
		text-transform: uppercase;
		line-height: 1.3;
		margin-top: -8px;
		letter-spacing: 0.4px;
	}
	form {
		margin-top: 40px;
		margin-bottom: 32px;
		input[type="search"] {
			border: 1px solid #d9d9d9;
			height: 34px;
			border-radius: 23px;
			width: 368px;
			padding-left: 20px;
			padding-right: 20px;
			font-family: 'Lato-Italic';
			&::-webkit-search-cancel-button { 
				-webkit-appearance: none;
			}
		}
		input[type="submit"] {
			display: none;
		}
		label {
			display: inline-block;
			cursor: pointer;
			position: relative;
			margin-left: -39px;
			&::after {
				content: "\f002";
				color: #3078c0;
				font-family: FontAwesome; 
			}
		}
	}
	.acts {
		.item {
			display: block;
			float: none;
			width: 100%;
			&:nth-child(even) {
				background-color: #fbfbfb
			}
			.line {
				padding: 10px 0;
				margin: 0;
				&:hover {
					li {
						text-decoration: none;
					}
				}
				li {
					display: inline-block;
					float: left;
					padding: 32px 23px;
					font-size: 13px;
					color: #333;
					font-family: 'Lato-Bold';
					text-decoration: underline;
					&:last-child {
						border-bottom: none;
					}
					img {

					}
					&:first-child {
						padding: 14.5px 20px;
						text-decoration: none;
						position: relative;
						&::after {
							content: attr(data-number);
							font-size: 12px;
							color: #d1d9e0;
							font-family: 'Lato-Black';
							position: absolute;
							left: 32px;
							top: 39px;
						}
					}
				}
			}
		}
	}
}

// lk

.lk {
	h2 {
		letter-spacing: 1px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	.last-changes {
		background-color: #63c395;
		color: #fff;
		padding: 25px;
		margin-top: 33px;
		li {
			display: inline-block;
			vertical-align: middle;
			margin-right: 22px;
			&:first-child {
				height: 82px;
				width: 82px;
				background-color: #fff;
				border-radius: 100%;
				position: relative;
			}
			&:nth-child(2) {
				font-family: 'Lato-Black';
				font-size: 20px;
				max-width: 250px;
				line-height: 1.2;
			}
			&:last-child {
				margin-right: 0;
				margin-left: 13px;
			}
			a {
				font-size: 11px;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 1px;
				background-color: rgba(238, 239, 239, 0.149);
				box-shadow: 0 5px 22px -8px rgba(0, 0, 0, 0.5),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
				width: 175px;
				border-radius: 35px;
				display: block;
				padding: 20px 0;
				color: #fff;
				border-top: 1px solid #a6dcc2;
			}
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.personal-info {
		margin: 47px 0 42px;
		.block-header {
			text-align: left;
			padding-left: 30px;
			letter-spacing: 1.2px;
		}
		.block-body {
			padding: 14px 30px 11px;
			border: 1px solid #ebebeb;
			background-color: #fbfbfb;
			.info-title {
				li {
					display: inline-block;
					width: 100%;
					padding: 0;
					margin: 0;
					float: left;
					.left {
						width: 222px;
						float: left;
						border-right: 1px solid #eaeaea;
						line-height: 1.5;
						padding-top: 11px;
						padding-bottom: 11px;
						font-size: 12px;
						color: #333;
						text-transform: uppercase;
						font-family: 'Lato-Black';
						letter-spacing: 0.5px;
						.edit {
							font-size: 13px;
							color: #357bc1;
							text-decoration: underline;
							font-family: 'Lato-Bold';
							display: block;
							text-transform: capitalize;
							margin-top: 127px;
							&:hover {
								text-decoration: none;
							}
						}
					}
					.right {
						width: calc(100% - 276px);
						float: left;
						padding-left: 23px;
						padding-top: 11px;
						line-height: 1.2;
						padding-bottom: 11px;
						font-size: 13px;
						.soc {
							display: block;
							margin-bottom: 11px;
							img, span, a {
								display: inline-block;
								vertical-align: middle;
							}
							img {
								margin-right: 13px;
							}
							span {
								font-size: 13px;
								color: #333;
								width: 97px;
							}
							a {
								font-size: 13px;
								color: #357bc1;
								text-decoration: underline;
								font-family: 'Lato-Bold';
								&:hover {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
	.pack-block {
		.block-header {
			text-align: left;
			padding-left: 30px;
		}
		.block-body {

		}
		.pack {
			width: 33.33%;
			background-color: #fafafa;
			float: left;
			display: inline-block;
			vertical-align: bottom;
			height: 430px;
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
		}
		.get {
			&.your {
				background-color: #52bd8a;
				color: #fff;	
				&:hover {
					background-color: #fff;
					color: #52bd8a;
				}
			}
			display: block;
			border: 1px solid #52bd8a;
			background-color: #fff;
			color: #52bd8a;
			width: 99px;
			text-align: center;
			font-family: 'Lato-Bold';
			font-size: 11px;
			padding: 12px;
			border-radius: 25px;
			margin: auto;
			margin-top: 28px;
			margin-bottom: 30px;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:hover {
				background-color: #52bd8a;
				color: #fff;
			}
		}
		.inner {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
	.notification {
		.block-header {
			text-align: left;
			padding-left: 30px;
		}
		margin-top: 80px;
		margin-bottom: 54px;
		.block-body {
			background-color: #fbfbfb;
			padding-bottom: 40px;
			border-radius: 0 0 5px 5px;
			border: 1px solid #ebebeb;
			form {
				ul {
					padding: 34px 0 42px 20px;
					position: relative;
					&.sec-l {
						padding-top: 24px;
						padding-left: 19px;
						padding-bottom: 20px;
						&::after {
							display: none;
						}
					}
					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						bottom: 0;
						height: 1px;
						width: 90%;
						background-color: #eee;
					}
					li {
						display: inline-block;
						padding: 20px;
						vertical-align: middle;
						&:first-child {
							padding-top: 0;
						}
						&:last-child {
							padding: 0;
							padding-left: 40px;
						}
						&:nth-child(2) {
							padding-top: 0;
							padding-right: 0;
						}
						span {
							display: block;
							max-width: 450px;
							font-size: 13px;
							color: #333;
							line-height: 1.3;
						}
					}
				}
				input {
					display: none;
					&:checked + label {
						background-color: #357bc1;
						&::before {
							content: "\f00c";
							position: absolute;
							top: 3px;
							left: 3px;
							font-family: FontAwesome;
							color: #fff;
						}
					}
				}
				label {
					height: 22px;
					width: 22px;
					border: 1px solid #357bc1;
					border-radius: 100%;
					background-color: #fff;
					display: block;
					cursor: pointer;
					position: relative;
					&::after {
						content: attr(data-label);
						color: #333;
						font-size: 13px;
						white-space: nowrap;
						left: 50%;
						transform: translateX(-50%);
						position: absolute;
						bottom: -22px;
					}
				}
			}
			input[type="submit"] {
				display: block;
				margin: auto;
				font-size: 10px;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-align: center;
				width: 130px;
				border: 1px solid #333;
				background-color: #333;
				color: #fff;
				padding: 10px;
				border-radius: 32px;
				margin-top: 17px;
				cursor: pointer;
				transition: .3s;
				&:hover {
					color: #333;
					background-color: #fff;
					transition: .3s;
				}				
			}
		}
	}
	.consult-block {
		padding: 41px 0;
		border: 1px solid #ebebeb;
		background-color: #fbfbfb;
		border-radius: 5px;
		form {
			.left {
				text-align: center;
				width: 227px;
				float: left;
				img {
					margin-bottom: 20px;
				}
				.title {
					text-transform: uppercase;
					font-size: 12px;
					color: #333;
					font-family: 'Lato-Black';
					margin-bottom: 16px;
				}
				.text {
					font-size: 13px;
					color: #333;
					max-width: 142px;
					display: block;
					margin: auto;
					margin-bottom: 18px;
				}
				.faq {
					font-size: 13px;
					color: #357bc1;
					font-family: 'Lato-Bold';
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.right {
				width: calc(100% - 251px);
				float: right;
				span {
					display: block;
					font-size: 13px;
					color: #333;
				}
				textarea {
					width: 100%;
					max-width: 323px;
					height: 126px;
					display: block;
					border: 1px solid #ebebeb;
					border-radius: 5px;
					margin: 20px 0 25px;
					resize: none;
					padding: 7px;
				}
				input {
				    display: block;
				    margin: auto;
				    font-size: 10px;
				    text-transform: uppercase;
				    letter-spacing: 1px;
				    text-align: center;
				    width: 126px;
				    border: 1px solid #357bc1;
				    background-color: #357bc1;
				    color: #fff;
				    padding: 11px;
				    border-radius: 32px;
				    margin-top: 27px;
				    cursor: pointer;
				    transform: translateX(-22%);
				    transition: .3s;
				    letter-spacing: 1.8px;
					&:hover {
						color: #357bc1;
						background-color: #fff;
						transition: .3s;
					}
				}
			}
		}
	}
}

// faq

.faq {
	h2 {
		text-transform: uppercase;
	}
	.questions {
		li {
			position: relative;
			margin: 15px;
			padding-top: 0;
			&.active {
				span {
					color: #357bc1;
					background-color: #f5f3f3;
					position: relative;
					padding-right: 60px;
					&::after {
						content: '';
						border: 7px solid transparent;
						border-top: 7px solid #357bc1;
						right: 33px;
						top: 57%;
						transform: translateY(-50%);
						display: block;
						position: absolute;
					}
					&::before {
						color: #fff;
						background-color: #357bc1; 
					}
				}
			}
			span {
				font-size: 13px;
				font-family: 'Lato-Bold';
				color: #333;
				text-decoration: underline;
				vertical-align: middle;
				padding-left: 60px;
				position: relative;
				display: block;
				cursor: pointer;
				padding: 20px;
				padding-left: 70px;
				&::before {
					content: "\f128";
					left: 12px;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					color: #357bc1;
					margin-right: 20px;
					background-color: #f5f3f3;
					padding: 10px 14px; 
					border-radius: 100%;
					font-family: FontAwesome;
					display: inline-block;
					font-size: 20px;
				}
			}
			&::after {

			}
			.answer {
				padding-left: 60px; 
				border-bottom: 1px solid #eee;
				display: none;
				p {
					font-size: 13px;
					font-family: "Lato";
					margin: 20px 0;
				}
				a {

				}
			}
		}
	}
}

// pockets

.pockets {
	h2 {
		text-transform: uppercase;
		letter-spacing: 0.5px;
		margin-bottom: 19px;
	}
	.complects {
		padding-top: 20px;
		.complect {
			&.basic {
				.complect-header {
					background-color: #a2a3a4;
					.complect-title {
						&::before {
							background-image: url(../img/compl-1.png);
						}
					}
				}
			}
			&.full {
				.complect-header {
					background-color: #518bc8;
					.complect-title {
						&::before {
							background-image: url(../img/compl-2.png);
							height: 110px;
						}
					}
				}
			}
			&.premium {
				.complect-header {
					background-color: #065280;
					padding: 14px 23px;
					.complect-title {
						&::before {
							background-image: url(../img/compl-3.png);
							height: 114px;
						}
					}
				}				
			}
			.complect-header {
				padding: 35px 23px;
				border-radius: 5px;
				.complect-title {
					font-size: 20px;
					font-family: 'Lato-Black';
					color: #fff;
					line-height: 1.3;
					position: relative;
					padding-left: 97px;
					text-align: center;
					span {
						font-size: 31px;
						display: block;
						text-transform: uppercase;
					}
					&::before {
					    content: '';
						height: 109px;
						width: 130px;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						background-repeat: no-repeat; 
						display: block;
						padding-right: 0;
						position: absolute;
					}
				}
			}
			.complect-body {
				background-color: #fafafa;
				padding: 43px 49px 94px;
				.body-title {
					font-size: 12px;
					text-transform: uppercase;
					color: #333;
					font-family: 'Lato-Black';
					margin-bottom: 8px;
					padding-left: 50px;
				}
				.body-positions {
					li {
						position: relative;
						padding: 10px 0;
						padding-left: 37px;
						font-size: 14px;
						font-family: 'Lato-Bold';
						&::before {
							content: attr(data-number);
							padding: 5px 8px;
							left: 0;
							top: 44%;
							transform: translateY(-50%);
							margin-right: 20px;
							background-color: #3078c0;
							color: #fff;
							border-radius: 100%;
							display: inline-block;
							position: absolute;
						}
					}
				}
				.order {
				    display: block;
				    margin: auto;
				    font-size: 10px;
				    text-transform: uppercase;
				    letter-spacing: 1px;
				    text-align: center;
				    width: 112px;
				    color: #fff;
				    padding: 12px;
				    border-radius: 32px;
				    margin-top: 29px;
					&.gray {
						border: 1px solid #a2a3a4;
						background-color: #a2a3a4;
						&:hover {
							color: #a2a3a4;
							background-color: #fff;
						}						
					}
					&.light-blue {
						border: 1px solid #518bc8;
						background-color: #518bc8;
						&:hover {
							color: #518bc8;
							background-color: #fff;
						}						
					}
					&.dark-blue {
						border: 1px solid #065280;
						background-color: #065280;
						&:hover {
							color: #065280;
							background-color: #fff;
						}						
					}
					
				}
			}
		}
	}
	.contact-block {
		padding-top: 16px;
		.bl {
			background-color: #fbfbfb;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			padding: 20px 30px;
			.cards {
				img {
					width: 100%;
				}
			}
			.face {
				display: block;
				margin: auto;
				margin-bottom: 20px;
			}
			.title {
				text-transform: uppercase;
				font-size: 12px;
				color: #333;
				font-family: 'Lato-Black';
				margin-bottom: 19px;
				letter-spacing: 0.4px;
			}
			.face-operator {
				float: left;
				margin-right: 31px;
				width: 70px;
				margin-bottom: 21px;
			}
			.text {
				font-size: 13px;
				color: #333;
				display: block;
				margin: auto;
				margin-bottom: 14px;
				line-height: 1.2;
			}
			.faq {
				font-size: 13px;
				color: #357bc1;
				font-family: 'Lato-Bold';
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}	
			textarea {
				width: calc(100% - 34px);
				height: 81px;
				display: block;
				border: 1px solid #ebebeb;
				border-radius: 5px;
				margin: 20px 0 25px;
				resize: none;
				padding: 17px;
				font-size: 13px;
				color: #818181;
				font-family: 'Lato-Italic';
			}
			input {
			    display: block;
			    margin: auto;
			    font-size: 10px;
			    text-transform: uppercase;
			    letter-spacing: 1.7px;
			    text-align: center;
			    width: 125px;
			    border: 1px solid #357bc1;
			    background-color: #357bc1;
			    color: #fff;
			    padding: 10px;
			    border-radius: 32px;
			    margin-top: 23px;
			    cursor: pointer;
			    transition: .3s;
				&:hover {
					color: #357bc1;
					background-color: #fff;
					transition: .3s;
				}
			}					
		}
		.left {
			width: 126px;
			float: left;
			margin-right: 30px;
			padding: 20px 26px;
			padding-bottom: 41px;
		}
		.right {
			width: calc(100% - 280px);
			float: right;
		}
	}
}


// schedule

.schedule {
	h2 {
		line-height: 1.3;
	}
	p.blue {
		color: #357bc1;
	}
	.included {
		margin-bottom: 24px;
		li {
			position: relative;
			padding: 10px 0;
			padding-left: 50px;
			&::before {
				content: attr(data-number);
				padding: 5px 8px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				margin-right: 20px;
				background-color: #3078c0;
				color: #fff;
				border-radius: 100%;
				display: inline-block;
				position: absolute;
			}
		}
	}
	.directions	{
		margin-top: 30px;
		li {
			display: inline-block;
			margin-right: 25px;
			width: 203px;
			color: #fff;
			background-color: #357bc1;
			text-align: left;
			border-radius: 3px;
			position: relative;
			cursor: pointer;
			a {
				padding: 12px 0;
				padding-left: 14px;
				color: #fff;
				display: block;
				z-index: 2;
				position: relative;
			}
			&:last-child {
				margin-right: 0;
			}
			&::after {
				content: '';
				height: 100%;
				width: 33px;
				border-left: 2px solid #83a6ca;
				position: absolute;
				top: 0;
				right: 0;
			}
			&::before {
				content: "\f0d7";
				font-family: FontAwesome;
				right: 12px;
				top: 12px;
				position: absolute;
			}
			.sublist {
				position: absolute;
				left: 0;
				top: 39px;
				border: 1px solid #357bc1;
				display: none;
				li {
					border-radius: 0;
					background-color: #fff;
					color: #357bc1;
					z-index: 1;
					margin-right: 0;
					width: 187px;
					border-bottom: 1px solid #83a6ca;
					transition: .3s;
					padding: 12px 0;
					padding-left: 14px;					
					&:hover {
						background-color: #357bc1;
						color: #fff;	
						transition: .3s;					
					}
					&:last-child {
						border-radius: 0 0 3px 3px;
						border-bottom: none;
					}
					&::after {
						display: none;
					}
					&::before {
						display: none;
					}
				}				
			}
		}
	}
	.download-schedule {
		margin-top: 34px;
		margin-bottom: 34px;
		display: block;
		font-size: 13px;
		color: #357bc1;
		font-family: 'Lato-Bold';
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&::before {
			content: '';
			height: 47px;
			width: 47px;
			background-image: url(../img/schedule-ic.png); 
			margin-right: 13px;
		    display: inline-block;
    		vertical-align: middle;
		}
	}
	.courses {
		padding-bottom: 30px;
		.course {
			.course-name {
				color: #357bc1;
				font-size: 20px;
				text-decoration: underline;
				font-family: 'Lato-Black';
				line-height: 1.2;
				margin-bottom: 10px;
				margin-top: -10px;
			}
			.course-info {
				border-top: 1px solid #eee;
				margin-top: 10px;
				position: relative;
				padding-top: 25px;
				margin-bottom: 40px;
				li {
					display: inline-block;
					vertical-align: middle;
					&:first-child {
						font-size: 13px;
						color: #333;
						font-family: 'Lato-Bold';
						margin-right: 30px;
						margin-bottom: 30px;
						&::before {
							content: '';
							height: 24px;
							width: 24px;
							background-image: url(../img/planet.png); 
							margin-right: 8px;
						    display: inline-block;
				    		vertical-align: middle;
						}
					}
					&:nth-child(2) {
						font-size: 13px;
						color: #333;
						font-family: 'Lato-Bold';
						margin-bottom: 30px;
						a {
							color: #357bc1;
							text-decoration: underline;
							&:hover {
								text-decoration: none;
							}
						}
						&::before {
							content: '';
							height: 24px;
							width: 24px;
							background-image: url(../img/calendar.png); 
							margin-right: 8px;
						    display: inline-block;
				    		vertical-align: middle;
						}
					}
					&:nth-child(3) {
						font-size: 25px;
						color: #333;
						font-family: 'Lato-Black';
						float: right;
						margin-bottom: 30px;
						&::after {
							content: attr(data-currency);
							font-size: 16px;
							padding-left: 6px;
						}
					}
					&:nth-child(4) {
						float: left;
						a {
							font-size: 20px;
							color: #333;
							font-family: 'Lato-Black';
						}
						&::before {
							content: attr(data-title);
							font-size: 13px;
							padding-right: 6px;
							font-family: 'Lato';
						}
					}
					&:last-child {
						position: absolute;
						right: 0;
						top: 70px;
						a {
							display: block;
							margin: auto;
							font-size: 10px;
							text-transform: uppercase;
							letter-spacing: 1px;
							text-align: center;
							width: 130px;
							border: 1px solid #52bd8a;
							background-color: #52bd8a;
							color: #fff;
							padding: 10px;
							border-radius: 32px;
							&:hover {
								color: #52bd8a;
								background-color: #fff;
							}							
						}
					}
				}
			}
			.course-data {
				border: 1px solid #ededed;
				border-radius: 5px;
				margin-bottom: 50px;
				.left{
					background-color: #ededed;
					width: 213px;
					float: left;
					height: 360px;
					ul {
						li {
							border-bottom: 1px solid #ddd;
							a {
								font-size: 12px;
								text-transform: uppercase;
								font-family: 'Lato-Black';
								color: #333;
								padding: 20px 30px;
								display: block;
								&.active {
									background-color: #fff;
								}
								&:hover {
									background-color: #fff;
								}
							}
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}
				.right {
					width: calc(100% - 213px);
					height: 360px;
					overflow-y: auto;
					font-size: 12px;
					color: #333;
					.subject {
						padding: 20px 32px;
						display: none;
						transition: .3s;
						&.active {
							display: block;
							transition: .3s;
						}
						ol {
							li {
								list-style-type: none;
								line-height: 1.2;
								margin-bottom: 20px;
								&::before {
									content: attr(data-number);
									position: relative;
									margin-right: 5px;
								}								
								ul {
									padding-top: 20px;
									li {
										list-style-type: none;
										position: relative;
										text-indent: 11px;
										&::before {
											content: '';
											position: absolute;
											height: 4px;
											width: 4px;
											border-radius: 100%;
											background-color: #333;
											left: 1px;
											top: 6px;
											margin-0: 5px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// partner

.partner {
	.included {
		margin-bottom: 24px;
		li {
			position: relative;
			padding: 10px 0;
			padding-left: 50px;
			&::before {
				content: attr(data-number);
				padding: 5px 8px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				margin-right: 20px;
				background-color: #3078c0;
				color: #fff;
				border-radius: 100%;
				display: inline-block;
				position: absolute;
			}
		}
	}
	.contacts {
		li {
			display: inline-block;
			vertical-align: middle;
			&:first-child {
				float: left;
				width: 50%;
				margin-top: 10px;
				a {
					font-size: 20px;
					color: #333;
					font-family: 'Lato-Black';
				}
				&::before {
					content: attr(data-title);
					font-size: 13px;
					padding-right: 6px;
					font-family: 'Lato';
					margin-bottom: 4px;
					display: inline-block;
					vertical-align: middle;
				}
			}
			&:last-child {
				float: right;
				width: 40%;
			}
			.show-more {
				background-color: #52bd8a;
				border: 1px solid #52bd8a;
				margin-top: 0;
				margin-right: 0;
				&:hover {
					color: #52bd8a;
					background-color: #fff;
				}
			}
		}
	}
	.our-partners {
		margin-top: 50px;
		.block-header {
			text-align: left;
			padding-left: 30px;
		}
		.partners-body {
			padding: 13px 0 50px;
			.row {
				margin-left: -13px;
				margin-right: -13px;
			}
			.partner {
				float: left;
				padding: 25px 0 28px;
				text-align: center;
				background-color: #f5f3f3;
				width: 206px;
				margin: 13px;
				h3 {
					margin-bottom: 18px;
					line-height: 1.2;
				}
				p {
					margin-bottom: 35px;
					line-height: 1.3;
				}
				a {
					font-size: 13px;
					color: #357bc1;
					font-family: 'Lato-Bold';
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}	
	.partnership {
		padding: 30px;
		background-color: #357bc1;
		color: #fff;
		img {
			float: left;
			width: 103px;
			height: auto;
			margin-right: 23px;
			margin-bottom: 23px;
		}
		h3 {

		}
		p {
			font-family: 'Lato';
			font-size: 13px;
			color: #fff;
			line-height: 1.4;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}