@media screen and (max-width: 1200px)  {
  .container {
    width: 100%; 
  }
  header.header .top-header .item {
    display: block;
    padding: 0 28px;
    float: none;
    text-align: center;
    padding-top: 0;
    margin: 0;
  }
  header.header .top-header {
    height: auto;
    padding: 20px 0;
  }
  header.header .top-header .item.social {
    padding: 0;
  }
  header.header .top-header .item.login-reg {
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
  }
  header.header .top-header .item.consult a {
    padding: 0;
    display: block;
    border-radius: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header.header .top-header .item.consult {
    border-radius: 23px;
    padding: 0;
    width: 250px;
    height: 40px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  header.header .top-header .item.contacts {
      padding: 0;
      display: block;
      margin: auto;
      width: 110px;
      text-align: center;
      margin-bottom: 20px;
  }
  header.header .middle-header .logo {
    margin: auto;
    position: relative;
  }
  header.header .top-header .item.login-reg {
    margin-left: 0;
  }
  header.header .middle-header {
    height: auto;
    background-size: cover;
    padding-bottom: 0;
    .title {
      padding-right: 15px;
    }
    .sub-title {
      padding: 10px 15px 15px;
      background-color: rgba(255,255,255,.6);
    }
  }
  header.header .bottom-header nav ul {
    display: none;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  header.header .bottom-header nav ul li {
    display: block;
    padding: 0;
    text-align: right;
    padding-right: 0;
  }
  header.header .bottom-header nav ul li:last-child {
    float: none;
    margin-right: 15px;
    padding: 0;
    padding-left: 0;
    border-left: none;
    input[type="search"] {
          width: 266px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    }
  }
  header.header .bottom-header nav ul li a {
    padding: 15px 0;
  }
  header.header .bottom-header nav ul li:last-child label {
    margin-left: -48px;
  }
  header.header .bottom-header .mobile-button {
    display: block;
  }
  header.header .bottom-header {
    background-image: none;
    margin-bottom: 70px;
  }
  .content aside.left {
    width: 100%;
    float: none;
  }
  .content aside.right {
    width: 100%;
    float: none;
  }
  .content main {
    width: 100%;
    float: none;
    padding: 0;
  }
  .content main.homepage {
    width: 100%;
    float: none;
    padding: 0;
  }
  .content main.homepage .complects {
    background-image: none;
    height: auto;
  }
  .content main.homepage .reg {
    margin-bottom: 40px;
  }
  .content {
    padding: 0;
  }
  .content main.homepage .thumb-home {
    margin: 0 auto;
    display: block;
    float: none;
    margin-top: 20px;
  }
  .content main.homepage .home-title {
    text-align: center;
    padding-top: 20px;
  }
  .content main.homepage .sub-title {
    text-align: center;
    padding-bottom: 20px;
  }
  .content main.homepage p {
    padding: 0 15px;
  }
  .content main.homepage .more {
    padding-left: 15px;
  }
  .content main.homepage .reg {
    padding: 0 15px;
  }
  footer.footer .footer-menu li {
    display: block;
    a {
      padding: 15px 0;
      display: block;
    }
  }
  .content aside .aside-block .block-body .thumb {
    width: 200px;
  }
  footer.footer .footer-menu {
    padding: 0;
  }
  .content main.homepage .blue-subtitle {
    width: 100%;
  }
  .content main.homepage .reg li {
    display: block;
    text-align: center;
    &:last-child {
      float: none;
    }
  }
  .content main.homepage .reg li:last-child a {
    margin: auto;
    margin-top: 20px;
  }
  .content main.homepage .acts {
    padding-top: 20px;
  }
  .content main.homepage .blue-subtitle {
    text-align: center;
  }

  // documents

  .content main.documents {
    padding: 0;
  }
  .documents .acts .item .line li {
    display: block;
    float: none;
    padding: 10px;
  }
  .documents h1 {
    padding: 0 15px;
  }
  .breadcrumbs li {
    font-size: 12px;
    display: inline-block;
    padding: 12px 15px;
    a {
      font-size: 12px;

    }
  }
  .documents form {
    margin-left: 15px;
  }
  .documents .acts .item .line li:first-child {
    padding-left: 15px;
  }
  .documents .acts .show-more {
    margin-bottom: 40px;
  }
  .text {
    padding: 15px;
  }
  .lk {
    h2, p {
      padding-left: 15px;
    }
  }
  .pack-block {
    .block-body {
      width: 600px;
      margin: auto;
      background-color: #fafafa;
    }
  }
  .lk .consult-block form .left,
  .lk .consult-block form .right {
    width: 100%;
    float: none;
  }

  .lk .consult-block form .right {
    max-width: 400px;
    margin: auto;
    textarea {
      max-width: 90%;
      padding: 0;
      margin: auto;
    }
  }
  .lk .consult-block form .right span {
    margin-top: 25px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .lk .consult-block form .right input {
    transform: translateX(0);
  }
  header.header .bottom-header {
    margin-bottom: 60px;
  }
  header.header .bottom-header nav ul li:last-child {
    margin-bottom: -45px;
    margin-top: 10px;
  }
  h2, p, h3 {
    padding: 0 15px;
  }
  .faq .questions li.active span::after {
    right: 15px;
  }
  .faq .questions li.active span {
    padding-right: 40px;
  }
  .pockets .contact-block {
    padding: 15px;
  }
  .pockets .contact-block .bl textarea {
    height: 100px;
  }
  .schedule .included,
  .schedule .directions,
  .download-schedule,
  .schedule .courses,
  .schedule .courses .course .course-name {
    padding-left: 15px;
    padding-right: 15px;
  }
  .schedule .courses .course .course-info li {
    display: block;
  }
  .schedule .courses .course .course-info li:first-child,
  .schedule .courses .course .course-info li:last-child,
  .schedule .courses .course .course-info li:nth-child(2),
  .schedule .courses .course .course-info li:nth-child(3),
  .schedule .courses .course .course-info li:nth-child(4) {
    margin-bottom: 10px;
    position: relative;
    float: none;
  }
  .schedule .courses .course .course-info li:last-child {
    top: 0;
    margin-left: 0;
    float: left;
  }
  .schedule .courses .course .course-info {
    margin-bottom: 10px;
  }
  .partner .included,
  .partner .contacts  {
    padding-left: 15px;
    padding-right: 15px;
  }
  .partner .our-partners .partners-body .row {
    margin: 0 auto;
    display: block;
    width: 696px;
  }
  .partner .partnership {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px)  {
.documents form input[type="search"] {
  width: 90%;
}  
.partner .contacts li:first-child {
  float: none;
  width: 100%;
  text-align: center;
}
.partner .contacts li:last-child {
  float: none;
  width: 100%;
  a {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.partner .our-partners .partners-body .row {
  width: 100%;
}
.partner .our-partners .partners-body .partner {
  width: 100%;
  float: none;
  margin: 0;
  margin-bottom: 15px;
}
.schedule .download-schedule::before {
    content: '';
    height: 17px;
    width: 17px;
    background-image: url(../img/schedule-ic.png);
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
}  
.schedule .directions li {
  display: block;
  margin: 0 auto !important;
  float: none;
  width: 100%;
  margin-bottom: 20px !important;
}
.schedule .directions li .sublist {
  z-index: 99;
} 
.schedule .directions li .sublist li {
  width: 200px;
  margin-bottom: 0 !important;
} 
.schedule .courses .course .course-data .left {
    width: 100%;
    float: none;
    height: auto;
}
.schedule .courses .course .course-data .right {
    width: 100%;
    float: none;
    height: auto;
}  
  .pockets .contact-block .left {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .pockets .contact-block .bl .cards img {
    width: 100%;
    max-width: 100px;
    margin: auto;
    display: block;
  }
  .pockets .contact-block .bl {
    padding: 0;
    text-align: center;
    padding: 20px 0;
  }
  .pockets .complects .complect .complect-header .complect-title span {
    font-size: 25px;
  }
  .pockets .complects .complect .complect-body {
    padding: 30px 20px;
  }
  .pockets .contact-block .bl .face-operator {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .pockets .contact-block .bl textarea {
    border: none;
  }
  .pockets .contact-block .right {
    float: none;
    width: 100%;
  }
  .pockets .complects .complect .complect-header .complect-title {
    padding-left: 0;
  }
  .pockets .complects .complect .complect-header .complect-title::before {
    display: none;
  }
  .content main.homepage .acts .acts-body .item .line li:last-child {
      float: left;
  }
  .faq .questions li .answer {
    padding-left: 0;
  }
  .lk .pack-block .pack {
    width: 248px;
    background-color: #fafafa;
    float: none;
    vertical-align: bottom;
    height: 460px;
    position: relative;
    display: block;
    margin: auto;
  }
  .pack-block .block-body {
    width: 100%;
  }
  .lk .last-changes li {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .lk .last-changes li a {
    margin: auto;
  }
  .lk .last-changes li:nth-child(2) {
    text-align: center;
  }
  .lk .personal-info .block-body .info-title li .left {
    padding-top: 0;
    padding-bottom: 10px;
    width: 100%;
    float: none;
    border-right: none;
  }
  .lk .personal-info .block-body .info-title li .right {
    padding-top: 0;
    padding-bottom: 10px;
    width: 100%;
    float: none;
    padding-left: 0;
  }
  .lk .personal-info .block-body .info-title li .left .edit {
    margin-top: 6px;
  }
  .lk .personal-info {
    margin: 0;
  }
  .lk .notification .block-body form ul li {
    &:last-child {
      display: block;
      padding: 20px 15px;
    }
  }
}
@media screen and (max-width: 480px)  {
  .content aside .aside-block .block-body .thumb {
    width: 100%;
  }
  .content main.homepage .acts .acts-body .item .line li {
    padding: 5px 20px;
    border-bottom: none;
  }
  .partner .partnership img {
    float: left;
    width: 50px;
    height: auto;
    margin-right: 23px;
    margin-bottom: 0;
  }
}