@media screen and (max-width: 1200px)  {
  .container {
    width: 100%;
  }
  header.header .top-header .item {
    display: block;
    padding: 0 28px;
    float: none;
    text-align: center;
    padding-top: 0;
    margin: 0;
  }
  header.header .top-header {
    height: auto;
    padding: 20px 15px;
  }
  header.header .top-header .item.social {
    padding: 0;
  }
  header.header .top-header .item.login-reg {
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
  }
  header.header .top-header .item.consult a {
    padding: 14px 28px 11px;
    display: block;
    border-radius: 23px;
  }
  header.header .top-header .item.consult {
    border-radius: 23px;
    padding: 0;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  header.header .top-header .item.contacts {
      padding: 0;
      display: block;
      margin: auto;
      width: 110px;
      text-align: center;
      margin-bottom: 20px;
  }
  header.header .middle-header .logo {
    margin: auto;
  }
  header.header .top-header .item.login-reg {
    margin-left: 0;
  }
}