@media screen and (max-width: 1200px)  {
  .container {
    width: 100%; 
  }
  header.header .top-header .item {
    display: block;
    padding: 0 28px;
    float: none;
    text-align: center;
    padding-top: 0;
    margin: 0;
  }
  header.header .top-header {
    height: auto;
    padding: 20px 0;
  }
  header.header .top-header .item.social {
    padding: 0;
  }
  header.header .top-header .item.login-reg {
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
  }
  header.header .top-header .item.consult a {
    padding: 0;
    display: block;
    border-radius: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header.header .top-header .item.consult {
    border-radius: 23px;
    padding: 0;
    width: 250px;
    height: 40px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  header.header .top-header .item.contacts {
      padding: 0;
      display: block;
      margin: auto;
      width: 110px;
      text-align: center;
      margin-bottom: 20px;
  }
  header.header .middle-header .logo {
    margin: auto;
    position: relative;
  }
  header.header .top-header .item.login-reg {
    margin-left: 0;
  }
  header.header .middle-header {
    height: auto;
    background-size: cover;
    padding-bottom: 0;
    .title {
      padding-right: 15px;
    }
    .sub-title {
      padding: 10px 15px 15px;
      background-color: rgba(255,255,255,.6);
    }
  }
  header.header .bottom-header nav ul {
    display: none;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  header.header .bottom-header nav ul li {
    display: block;
    padding: 0;
    text-align: right;
    padding-right: 0;
  }
  header.header .bottom-header nav ul li:last-child {
    float: none;
    margin-right: 15px;
    padding: 0;
    padding-left: 0;
    border-left: none;
    input[type="search"] {
          width: 266px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    }
  }
  header.header .bottom-header nav ul li a {
    padding: 15px 0;
  }
  header.header .bottom-header nav ul li:last-child label {
    margin-left: -48px;
  }
  header.header .bottom-header .mobile-button {
    display: block;
  }
  header.header .bottom-header {
    background-image: none;
    margin-bottom: 70px;
  }
  .content aside.left {
    width: 100%;
    float: none;
  }
  .content aside.right {
    width: 100%;
    float: none;
  }
  .content main {
    width: 100%;
    float: none;
    padding: 0;
  }
  .content main.homepage {
    width: 100%;
    float: none;
    padding: 0;
  }
  .content main.homepage .complects {
    background-image: none;
    height: auto;
  }
  .content main.homepage .reg {
    margin-bottom: 40px;
  }
  .content {
    padding: 0;
  }
  .content main.homepage .thumb-home {
    margin: 0 auto;
    display: block;
    float: none;
    margin-top: 20px;
  }
  .content main.homepage .home-title {
    text-align: center;
    padding-top: 20px;
  }
  .content main.homepage .sub-title {
    text-align: center;
    padding-bottom: 20px;
  }
  .content main.homepage p {
    padding: 0 15px;
  }
  .content main.homepage .more {
    padding-left: 15px;
  }
  .content main.homepage .reg {
    padding: 0 15px;
  }
  footer.footer .footer-menu li {
    display: block;
    a {
      padding: 15px 0;
      display: block;
    }
  }
  .content aside .aside-block .block-body .thumb {
    width: 200px;
  }
  footer.footer .footer-menu {
    padding: 0;
  }
  .content main.homepage .blue-subtitle {
    width: 100%;
  }
  .content main.homepage .reg li {
    display: block;
    text-align: center;
    &:last-child {
      float: none;
    }
  }
  .content main.homepage .reg li:last-child a {
    margin: auto;
    margin-top: 20px;
  }
  .content main.homepage .acts {
    padding-top: 20px;
  }
  .content main.homepage .blue-subtitle {
    text-align: center;
  }

  // documents

  .content main.documents {
    padding: 0;
  }
  .documents .acts .item .line li {
    display: block;
    float: none;
    padding: 10px;
  }
  .documents h1 {
    padding: 0 15px;
  }
  .breadcrumbs li {
    font-size: 12px;
    display: inline-block;
    padding: 12px 15px;
    a {
      font-size: 12px;
      
    }
  }
  .documents form {
    margin-left: 15px;
  }
  .documents .acts .item .line li:first-child {
    padding-left: 15px;
  }
  .documents .acts .show-more {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px)  {
  .content main.homepage .acts .acts-body .item .line li:last-child {
      float: left;
  }
}
@media screen and (max-width: 480px)  {
  .content aside .aside-block .block-body .thumb {
    width: 100%;
  }
  .content main.homepage .acts .acts-body .item .line li {
    padding: 5px 20px;
    border-bottom: none;
  }
}